<!--
    NOTE: an epigraph is a phrase, quotation, or poem that is set at the beginning of a document, monograph or section thereof.
    c.f. https://en.wikipedia.org/wiki/Epigraph_(literature)
-->
<section class="epigraph">
  <figure>
    <blockquote cite="{{ link }}">{{ quote }}</blockquote>
    {% if p and year %}
    <figcaption>
      &mdash; {{ author }}, <a href="{{link }}"><cite>{{ title}}</cite></a
      >, <time datetime="{{ year }}">{{ year }}</time>, {{ p }}
    </figcaption>
    {% else %}
    <figcaption>
      &mdash; {{ author }}, <a href="{{ link }}"><cite>{{ title }}</cite></a>
    </figcaption>
    {% endif %}
  </figure>
</section>
